// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 $lightblue: #d9f8fd;

 body {
   background: $lightblue;
 }

.banner {
   background: rgb(243, 227, 227);
   h1 {
     font-size: 50px;
   }
 }

 a {
   color: grey;
   &:hover {
     color: black;
   }
 }
